<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./view/templates/styles/style.css">
    <title>Login</title>
</head>
<body>
    <h1><span>Marvel Battle</span></h1>
    <div class="container">
        <div class="container2">
            <h1>Login</h1>

            <form action="index.php" method="post">
                <label>Login</label><br>
                <input type="text" name="login" id="login"required/><br>
                <label>Password</label><br>
                <input type="password" name="password" id="password" required/><br>
                <input type="submit" name="sign_in" value="Sign in" /><br>
            </form>

            <form action="index.php" method="post">
                <input type="submit" name="go_to_sign_up" value="Sign up" /><br>
            </form>

            <form action="index.php" method="post">
                <input type="submit" name="go_to_password_reminder" value="Remind password" /><br>
            </form>
        </div>
    </div>

</body>
</html>
